/*
实现点击Learn More跳转到下方event list的平和过渡
*/
html {
    scroll-behavior: smooth;
}

/*
字体待修改，背景待修改
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
}

.continer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 25px 0;
}