/*
实现点击Learn More跳转到下方event list的平和过渡
*/
html {
    scroll-behavior: smooth;
}

/*
字体待修改，背景待修改
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
}

.continer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 25px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
logo图片的格式
*/
.logo {}

/*
navbar下方，eventlist上方的内容
*/
.intro {
    display: flex;
    align-items: center;
    padding: 40px 0;
    min-height: 80vh;
}

.intro-content {
    flex: 1;
    padding-right: 40px;
}

.intro-content h1 {}

.intro-content p {}